.hljs[class~="js" i]::before,
.hljs[class~="javascript" i]::before {
    content: " Javascript";
    background-color: #165eab;
}

.hljs[class~="css" i]::before {
    content: " Cascading Style Sheet";
    background-color: #ab6f16;
}

.hljs[class~="bash" i]::before,
.hljs[class~="sh" i]::before {
    content: " Bash";
    background-color: #ab1663;
}

.hljs[class~="markdown" i]::before,
.hljs[class~="md" i]::before {
    content: " Markdown";
    background-color: #ab2e16;
}

.hljs[class~="html" i]::before {
    content: " HTML";
    background-color: #16ab6f;
}

.hljs[class~="python" i]::before,
.hljs[class~="py" i]::before {
    content: " Python";
    background-color: #f39c12;
}

.hljs[class~="xl" i]::before {
    content: " eXtensible Language";
    background-color: #4872a8;
}

.hljs[class~="xml" i]::before {
    content: " eXtensible Markup Language";
    background-color: #4872a8;
}

.hljs[class~="http" i]::before {
    content: " HTTP";
    background-color: #e67e22;
}

.hljs[class~="coffeescript" i]::before,
.hljs[class~="coffee" i]::before {
    content: " Coffee (Javascript)";
    background-color: #3a1b1b;
}

.hljs[class~="handlebars" i]::before,
.hljs[class~="hbs" i]::before {
    content: " Handlebars";
    background-color: #333;
}

.hljs[class~="rb" i]::before,
.hljs[class~="ruby" i]::before {
    content: " Ruby";
    background-color: #e73e3e;
}

.hljs[class~="cpp" i]::before {
    content: " C++";
    background-color: #2980b9;
}

.hljs[class~="sql" i]::before {
    content: " Structured Query Language";
    background-color: #2ecc71;
}

.hljs[class~="clojure" i]::before {
    content: " Clojure";
    background-color: #90b4fe;
}

.hljs[class~="ts" i]::before,
.hljs[class~="typescript" i]::before {
    content: " TypeScript";
    background-color: #007acc;
}

.hljs[class~="swift" i]::before {
    content: " Swift";
    background-color: #e53e2f;
}

.hljs[class~="1c" i]::before {
    content: " 1C:Enterprise";
    background-color: #fbee9f;
}

.hljs[class~="abnf" i]::before {
    content: " Augmented Backus-Naur Form";
    background-color: #fbee9f;
}

.hljs[class~="rust" i]::before {
    content: " Rust";
    background-color: #ce7c47;
}

.hljs[class~="objc" i]::before,
.hljs[class~="objectivec" i]::before {
    content: " Objective-C";
    background-color: #4c71ae;
}

.hljs[class~="json" i]::before {
    content: " JavaScript Object Notation";
    background-color: #555;
}

.hljs[class~="java" i]::before {
    content: " Java";
    background-color: #dd4f39;
}

.hljs[class~="jboss-cli" i]::before {
    content: " JBoss CLI";
    background-color: #da352f;
}

.hljs[class~="prolog" i]::before {
    content: " SWI Prolog";
    background-color: #082a47;
}

.hljs[class~="d" i]::before {
    content: " D";
    background-color: #b31f1f;
}

.hljs[class~="cs" i]::before,
.hljs[class~="csharp" i]::before {
    content: " C#";
    background-color: #390198;
}

.hljs[class~="go" i]::before {
    content: " Go";
    background-color: #69d7e2;
}

.hljs[class~="makefile" i]::before {
    content: " Makefile";
    background-color: #8c2a0f;
}

.hljs[class~="lua" i]::before {
    content: " Lua";
    background-color: #0000da;
}

.hljs[class~="less" i]::before {
    content: " Less";
    background-color: #254d76;
}

.hljs[class~="actionlog" i]::before {
    content: " Action Log";
    background-color: #48ca20;
}

.hljs[class~="as" i]::before,
.hljs[class~="actionscript" i]::before {
    content: " ActionScript";
    background-color: #56090b;
}

.hljs[class~="ada" i]::before {
    content: " Ada";
    background-color: #b89845;
}

.hljs[class~="apache" i]::before {
    content: " Apache";
    background-color: #7e2682;
}

.hljs[class~="applescript" i]::before {
    content: " AppleScript";
    background-color: #c3c5f6;
}

.hljs[class~="arduino" i]::before {
    content: " Arduino";
    background-color: #00878f;
}

.hljs[class~="armasm" i]::before {
    content: " ARM Assembly";
    background-color: #d04d9f;
}

.hljs[class~="adoc" i]::before,
.hljs[class~="asciidoc" i]::before {
    content: " AsciiDoc";
    background-color: #73a0c5;
}

.hljs[class~="aspectj" i]::before {
    content: " AspectJ";
    background-color: #f7b36c;
}

.hljs[class~="autohotkey" i]::before {
    content: " AutoHotkey";
    background-color: #1c681d;
}

.hljs[class~="autoit" i]::before {
    content: " AutoIt";
    background-color: #495fa9;
}

.hljs[class~="avrasm" i]::before {
    content: " AVR Assembler";
    background-color: #6fb4cd;
}

.hljs[class~="awk" i]::before {
    content: " Awk";
    background-color: #e7b725;
}

.hljs[class~="axapta" i]::before {
    content: " Axapta";
    background-color: #e48241;
}

.hljs[class~="basic" i]::before {
    content: " BASIC";
    background-color: #2020ff;
}

.hljs[class~="bnf" i]::before {
    content: " Backus–Naur Form";
    background-color: #269709;
}

.hljs[class~="bf" i]::before
.hljs[class~="brainfuck" i]::before, {
    content: " Brainfuck";
    background-color: #2f7cd6;
}

.hljs[class~="cal" i]::before {
    content: " C/AL";
    background-color: #31a872;
}

.hljs[class~="capnp" i]::before,
.hljs[class~="capnproto" i]::before {
    content: " Cap’n Proto";
    background-color: #c42727;
}

.hljs[class~="ceylon" i]::before {
    content: " Ceylon";
    background-color: #6227c4;
}

.hljs[class~="clean" i]::before {
    content: " Clean";
    background-color: #9bdede;
}

.hljs[class~="clojure-repl" i]::before {
    content: " Clojure REPL";
    background-color: #9bbcde;
}

.hljs[class~="cmake" i]::before {
    content: " CMake";
    background-color: #8f8f8f;
}

.hljs[class~="coq" i]::before {
    content: " Coq";
    background-color: #0fbbc9;
}

.hljs[class~="cos" i]::before {
    content: " Caché Object Script";
    background-color: #949696;
}

.hljs[class~="crmsh" i]::before {
    content: " crmsh";
    background-color: #df6cb7;
}

.hljs[class~="cr" i]::before,
.hljs[class~="crystal" i]::before {
    content: " Crystal";
    background-color: #111;
}

.hljs[class~="csp" i]::before {
    content: " CSP";
    background-color: #df6c7b;
}

.hljs[class~="dart" i]::before {
    content: " Dart";
    background-color: #00548f;
}
