.tooltip.tooltip-right.tooltip-normal, .tooltip.tooltip-bottom.tooltip-normal, .tooltip.tooltip-top.tooltip-normal {
    background: #fff;
    color: #767676;
    border: 1px solid #767676 !important; 
    border-radius: 0px;
    box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.3);
    padding: 5px;
    transition:opacity 0.2s ease;
}

.tooltip.tooltip-right.tooltip-normal:after, .tooltip.tooltip-bottom:after, .tooltip.tooltip-top:after {
    opacity: 0;
}